* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo{
    display:flex;
   
    height: 120px;
}
.contact {
  text-align: right;
  margin-right: 25px;
}
.contact p:nth-child(1){
    color:red;
    font-weight:bold;
    text-decoration: underline black;
    width:auto;
    font-size: 20px;
}
.contact p:nth-child(2){
    font-weight: bold;
    font-size: 48px;

}

.navi {
  background: #b22222;
  height: 55px;
}

.navi ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 55px;            
  margin-right: 40px;
}

.navi ul li {
  height: 55px;       
}

.navi ul li a {
  display: flex;           
  align-items: center;      
  height: 100%;              
  padding: 0 18px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}


.navi ul li a:hover {
  background-color: grey;
}

.images{
  display:flex;
  justify-content:space-between;
  align-items: flex-start;
}
.banner{
  padding: 20px;
  display: flex;
   width: 530px;
  height: 350px;
  
}
.hero {
  display: flex;
  padding: 20px;
}
.left-hero img {
  width: 530px;
  height: 430px;
}
.right-hero {
  height: 430px;
  background-image: url('images/form_bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 20px;
  flex: 1;
}
.right-hero h2 {
  margin: 0px;
  height: 40px;
  width: 150px;
  padding: 8px;
  background-color: #b22222;
  color:white
}
.right-hero span {
  color: blue;
  font-weight: bold;
  font-size:30px ;
}

.right-hero {
  width: 45%;
  position: relative;
}



.right-hero form label {
  display: inline-block;
  width: 80px;
  text-align: right;
 
  font-weight: bold;
  font-size: 14px;
}



.tilt {
  width: 190px;
  margin-left: 450px;
  margin-top: 35px;
  transform: rotate(30deg); 
}
.right-hero form {
  margin-left: 17%;
  margin-top: -60px;
}
.right-hero form input{
  width: 200px;
  height: 30px;
  margin: 4px;
  margin-left: 20px;
  
}
.right-hero form textarea{
  height:60px;
  width: 330px;
  margin: 5px 0 20px 0px;
}
.right-hero form p{
  display: flex;
  align-items: center ;
  margin-left: -20px;
}
.right-hero button {
  background: #b22222;
  width: 250px;
  color: white;
  margin-left: 10px;
  padding: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.right-hero button img {
  margin-left: 5px;
  width: 12px;
}
.boxes {
  display: flex;
  justify-content: space-around;
  gap: 10px;
  padding: 20px;
  line-height: 28px;
}
.box {
  padding: 15px;
}

.boxes h3 {
  margin-bottom: 10px;
  color: maroon;
}

.boxes .head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.boxes .head1 {
  flex: 1;
}

.boxes .head2 img {
  width: 90px;
  margin: 0 0 0 10px;
  height: auto;
}

.boxes .icon img {
  width: 100px;
  margin: 5px;
}
.boxes .icon img:nth-child(2){
  width: 80px;
}
.box1{
  
   border: 1px solid rgba(0,0,0,0.2);
   height: 400px;
   padding: 20px;
   line-height: 30px;
}
.boxes button {
  margin: 15px 0px 15px 130px;
  background: #b22222;
  width: 118px;
  height: 25px;
  color: white;
  font-size: 18px;
  padding: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.boxes button img {
  margin-left: 5px;
  width: 12px;
}
.practice {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  margin-top: 20px;
}

.practice1 {
  width: 25%;
  margin-left: 40px;
}
.practice1 ul li{
  color: rgb(211, 206, 206);
  list-style: none;
  cursor: pointer;
  margin: 0 0 5px 30px;
}
.practice1 h3 {
  margin-bottom: 10px;
}

.area {
  width: 260px;
  justify-content: space-around;
  height: 70px;
  margin-top: 10px;
  color: whitesmoke;
  background-color: gray;
  font-size: 18px;
  display: block;
  border-left: 6px solid #b22222;
}
.area1{
  margin-top: 20px;
}
.area1 h4{
  padding-top: 5px;
  letter-spacing: 1px;

}
 .areas .area button{
  background-color: transparent;
  color: whitesmoke;
  border: none;
  margin-left: 140px;
}
.area2 img{
  margin-left: 5px;
  margin-top: 10px;
  width: 12px;
} 
.practice2 {
  width: 40%;
  padding: 0 20px;
  line-height: 23px;
}
.practice2 h1 {
  margin-bottom: 15px;
}

.practice3 {
  width: 23%;
}
.practice3 p{
  line-height: 28px;
}
.practice3 .side {
  margin-bottom: 20px;
}
.practice3 button {
  margin: 25px 0px 25px 70px;
  background: #b22222;
  width: 140px;
  height: 25px;
  color: white;
  font-size: 18px;
  padding: 8px;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

}
.practice3 button img {
  margin-left: 5px;
  width: 12px;
}
footer {
  text-align: end;
  margin-bottom: 30px;
}
.awards{
  display: block;
  justify-content: end;
  margin-left: 1050px;
}
.awards img {
  display: block;
  width: 100px;
  margin: 10px 60px 10px 0;
}
.awards img:nth-child(2){
  width: 80px;
}
.follow {
  margin: 15px 60px 0 0;
}
.follow p {
  font-weight: bold;
  margin: 10px 53px 10px 0;
}
.social{
  margin-right: 20px;
}
.social img {
  width: 30px;
  cursor: pointer;
  margin-top: 25px;
}

body {
  overflow-x: hidden;
}

/* RESPONSIVE WALA KAAM */

@media (max-width: 768px) {

  
  header {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .contact {
    margin: 10px 0;
    text-align: center;
  }


  .navi ul {
    justify-content: center;
    margin-right: 0;
  }


  .hero {
    flex-direction: column;
  }

  .left-hero img {
    width: 100%;
    height: auto;
  }

  .right-hero {
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
    height: auto;
  }

  .right-hero form {
    margin: 20px;
  }

  .right-hero form textarea {
    width: 100%;
  }

  .tilt {
    margin-left: auto;
    margin-right: auto;
    display: block;
    transform: rotate(15deg);
  }


  .boxes {
    flex-direction: column;
    align-items: center;
  }

  .box1 {
    width: 100%;
    height: auto;
  }

 
  .practice {
    flex-direction: column;
  }

  .practice1,
  .practice2,
  .practice3 {
    width: 100%;
    margin: 20px 0;
  }

  .practice3 button {
    margin-left: auto;
    margin-right: auto;
  }

  .awards {
    margin-left: 0;
    display: flex;
    justify-content: center;
    gap: 20px;
  }

  footer {
    text-align: center;
  }
}

@media (max-width: 480px) {

  .navi ul {
    flex-direction: column;
    height: auto;
  }

  .navi ul li {
    width: 100%;
  }

  .navi ul li a {
    justify-content: center;
    width: 100%;
  }

  .contact p:nth-child(2) {
    font-size: 32px;
  }


  .right-hero form input {
    width: 100%;
    margin-left: 0;
  }

  .right-hero button {
    width: 100%;
    margin-left: 0;
  }


  .area {
    width: 100%;
  }

  .areas .area button {
    margin-left: auto;
  }
}
