nav {
  background-color: brown;
  padding: 30px;
  height:160px;
}
body {
  font-family: "Poppins", sans-serif;
  margin: 25px;
}

.heading {
  font-size: 45px;
  color: white;
}

.second {
  padding-top: 0px;
  font-size: 20px;
}

.section {
  background-color: brown;
  position: relative;
  padding: 30px;
  clip-path: polygon(0 0, 100% 0, 100% 95%, 0 95%);
}
.icon {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0px;
  bottom: 0px;
  transform: rotate(180deg);
  background-color: #fff;
}
.another {
  height: 25px;
  width: 25px;
  padding-left: 50px;
}
.heading2 {
  font-size: 38px;
  font-weight: 900;
  letter-spacing: 1px;
}

.main-section {
  padding: 30px;
}
.clubs {
  padding-left: 50px;
  display: flex;
  justify-content: space-between;
  gap: 20px;
  margin-top: 50px;
}

.club img {
  height: 65px;
  margin-bottom: 10px;
}

.club h4 {
  text-align: center;
  margin: 0;
  color: #000;
}
