* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}


nav {
  background-color: brown;
  height: 120px;
  display: flex;
  align-items: center; 
  padding: 0 60px;
}

nav img {
  padding-top:10px;
  height: 120px; 
  object-fit: contain;
}


.section {
  background-color: brown;
  position: relative;
  padding: 70px 60px; 
}


.heading {
  font-size: 48px;
  font-weight: 900;
  color: white;
  letter-spacing: 1px;
}

.second {
  font-size: 20px;
  font-weight: 600;
  color: black;
  margin-bottom: 30px;
}


.text-block {
  max-width: 900px;
}

.hero-text {
  color: white;
  font-size: 14px;
  line-height: 1.85;
  margin-bottom: 18px;
}


.award-icon {
  width: 96px;
  height: 96px;
  background-color: white;
  position: absolute;
  right: 0px;
  bottom: 0px; 
  
  display: flex;
  align-items: center;
  justify-content: center;

  clip-path: polygon(100% 0, 0% 100%, 100% 100%); /*clip path bhi use kar diya */

}

.award-icon img {
  width: 0px;
  height: 0px;
  object-fit: contain;
}


footer .award-icon {
  width: 88px;
  height: 88px;
  right:0px;
  bottom: 0px;
}


.main-section {
  padding: 60px;
}

.title-row {
  display: flex;
  align-items: center;
  gap: 14px;
}

.another {
  width: 26px;
  height: 26px;
}

.heading2 {
  font-size: 38px;
  font-weight: 900;
  letter-spacing: 1px;
}


.clubs {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  margin-top: 50px;
}

.club {
  width: 180px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.club img {
  width: 70px;
  margin-bottom: 12px;
}

.club h4 {
  font-size: 14px;
  line-height: 1.4;
}

.club h4:first-of-type {
  color: brown;
  font-weight: 700;
}
