body {
    margin: 0;
    padding: 25px;             
    font-family: Arial, sans-serif;

}


header {
    height: 120px;
    margin-bottom: 15px;
}


nav {
    height: 60px;
    margin-bottom: 20px;
}


main {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

section {
    width: 60%;
    height: 220px;
}
.mani{
    width: 85%;
}

footer {
    height: 120px;
}


header, nav, footer,
aside, section {

    background: #eee;
    display: flex;
    align-items: center;        
    justify-content: center; 
    text-align: center;
}