* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: #fff;
  color: #333;
}

.hero {
  position: relative;
  height: 500px;
  padding: 50px 70px;
}

.logo {
  width: 180px;
 margin-left: 60px;
}

.hero h1 {
  margin-top: 5px;
  font-size: 22px;
  font-weight: 600;
}

.tagline {
  margin-top: 5px;
  font-size: 14px;
  margin-left: 60px;
  
}

.stores {
  margin-top: 20px;
}

.stores img {
  width: 130px;
  margin-right: 10px;
}

.hero-mobiles {
  position: absolute;
  right: 120px;
  top: 40px;
  width: 520px;
}

/* CHANNELS WALA SECTION*/
.channels {
  position: relative;
  height: 500px;
}

.channels-img {
  position: absolute;
  left: 80px;
  top: 60px;
  width: 420px;
}

.channels-text {
  position: absolute;
  right: 150px;
  top: 170px;
}

.channels-text h2 {
  font-size: 20px;
  margin-bottom: 10px;
   text-align: center;
}

.channels-text p {
  font-size: 16px;
  line-height: 1.6;
   text-align: center;
}

/* MESSAGES WALA SECTION */
.messages {
  position: relative;
  height: 520px;
}

.messages-text {
  position: absolute;
  left: 150px;
  top: 170px;
}

.messages-text h2 {
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.messages-text p {
  font-size: 16px;
  line-height: 1.6;
   text-align: center;
}

.messages-img {
  position: absolute;
  right: 120px;
  top: 80px;
  width: 420px;
}

/* FUTURE WALA SECTION*/
.future {
  position: relative;
  height: 500px;
  display: flex;
  align-items: center;
  padding-left: 120px;
  padding-right: 160px;
  overflow: hidden;
}


.future-vectors {
  position: absolute;
  top: 30%;
  left: 78%;               
  transform: translate(-50%, -50%);
  width: 420px;
  opacity: 15;
  z-index: 1;
}


/* PHONE IMAGE WALA SECTION */
.future-image {
  position: relative;
  z-index: 3;
}

.future-image img {
  width: 460px;
}

/* TEXT BLOCK WALA SECTION*/
.future-text {
  margin-left: auto;
  max-width: 360px;
  position:relative;
  z-index: 2;
}

.future-text h2 {
  font-size: 20px;
  letter-spacing: 2px;
  margin-bottom: 12px;
   text-align: center;
}

.future-text p {
  font-size: 16px;
  line-height: 1.7;
  color: #666;
   text-align: center;
}



/* FOOTER */
footer {
  text-align: center;
  padding: 60px 0 40px;
}

footer p {
  font-size: 14px;
}

.contact {
  margin-top: 15px;
}

.contact a {
  text-decoration: none;
  color: #0077cc;
}

.footer-logo {
  width: 120px;
  margin-top: 25px;
}
